@font-face {
	font-family: "Cooper Black";
	src: url("./fonts/CooperBlack.woff2") format("woff2"),
		 url("./fonts/CooperBlack.woff") format("woff"),
		 url("./fonts/CooperBlack.ttf") format("truetype");
  }

.App {
  text-align: center;
  height: 100vh;
  /* deals with 100vh quirk on mobile devices */
  height: calc(var(--vh, 1vh) * 100);
}
